<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav style = "background-color: #DDD; height: 50px; display: flex; justify-content: space-between; align-items: center; padding: 4px">
      <%= link_to "Simple AirBnB", flats_path, style: "text-decoration: none; color: grey; font-weight: bold " %>
      <%= link_to "add a Flat", new_flat_path, style: "text-decoration: none; color: grey" %>
    </nav>
    <%= yield %>
  </body>
</html>
